includes:
  - baselines/loader.neon

parameters:
  level: 9
  paths:
    - ./src
    - ./tests
    - ./modules
  reportUnmatchedIgnoredErrors: true
  shipmonkBaselinePerIdentifier:
      directory: %currentWorkingDirectory%/baselines
      indent: '    '
