# Schema for the configuration files of the SMS module.

sms.settings:
  type: config_object
  label: 'SMS Framework settings'
  mapping:
    default_gateway:
      type: string
      label: 'Entity ID of default SMS Gateway'
    bootstrap_queue:
      type: sequence
      label: 'Bootstrap Queue'
    country_codes:
      type: sequence
      label: 'International Country Codes'
      sequence:
        - type: string

# Configuration for SMS Gateways.
sms.gateway.*:
  type: config_entity
  label: 'SMS Gateway configuration'
  mapping:
    id:
      type: string
      label: 'Gateway machine name'
    label:
      type: label
      label: 'Gateway label'
    plugin:
      type: string
      label: 'Gateway plugin type'
    settings:
      type: sms_gateway.settings.[%parent.plugin]

sms.phone.*.*:
  type: config_entity
  label: 'Phone number configuration'
  mapping:
    id:
      type: string
      label: 'ID'
    entity_type:
      type: string
      label: 'Entity type'
    bundle:
      type: string
      label: 'Bundle'
    automated_optout:
      type: boolean
    verification_message:
      type: string
    duration_verification_code_expire:
      type: int
      label: 'Time in seconds, before verification codes expire.'
    fields:
      mapping:
        phone_number:
          type: string
          label: 'Name of field.'
        automated_opt_out:
          type: string
          label: 'Name of field. Indicates if this bundle is allowed to control automated messages.'

sms_gateway.settings.*:
  type: sms_gateway_settings
