# total 5 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method Drupal\\Core\\Config\\Config\:\:get\(\) invoked with 2 parameters, 0\-1 required\.$#'
            count: 1
            path: ../modules/sms_sendtophone/tests/src/Functional/SmsSendToPhoneBrowserTest.php

        -
            message: '#^Method Drupal\\Tests\\WebAssert\:\:responseContains\(\) invoked with 2 parameters, 1 required\.$#'
            count: 4
            path: ../modules/sms_user/tests/src/Functional/SmsFrameworkUserSettingsTest.php

        -
            message: '#^Method Drupal\\Tests\\WebAssert\:\:responseNotContains\(\) invoked with 2 parameters, 1 required\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Functional/SmsFrameworkUserSettingsTest.php

        -
            message: '#^Method Drupal\\Tests\\WebAssert\:\:responseContains\(\) invoked with 2 parameters, 1 required\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkGatewayAdminTest.php

        -
            message: '#^Method Behat\\Mink\\WebAssert\:\:statusCodeEquals\(\) invoked with 2 parameters, 1 required\.$#'
            count: 3
            path: ../tests/src/Functional/SmsFrameworkPhoneNumberVerifyFormTest.php
