# total 4 errors

parameters:
    ignoreErrors:
        -
            message: '#^Property Drupal\\sms_user\\ActiveHours\:\:\$ranges \(array\) does not accept mixed\.$#'
            count: 1
            path: ../modules/sms_user/src/ActiveHours.php

        -
            message: '#^Property Drupal\\sms\\Entity\\SmsMessageResult\:\:\$reports \(array\<Drupal\\sms\\Entity\\SmsDeliveryReportInterface\>\) does not accept array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\>\.$#'
            count: 2
            path: ../src/Entity/SmsMessageResult.php

        -
            message: '#^Property Drupal\\sms\\Message\\SmsDeliveryReport\:\:\$messageId \(string\) does not accept string\|null\.$#'
            count: 1
            path: ../src/Message/SmsDeliveryReport.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkVerificationMaintenanceTest\:\:\$testEntity \(Drupal\\Core\\Entity\\EntityInterface\) does not accept Drupal\\entity_test\\Entity\\EntityTest\|null\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkVerificationMaintenanceTest.php
