# total 21 errors

parameters:
    ignoreErrors:
        -
            message: '#^Property Drupal\\sms_user\\ActiveHours\:\:\$ranges \(array\) does not accept mixed\.$#'
            count: 1
            path: ../modules/sms_user/src/ActiveHours.php

        -
            message: '#^Property Drupal\\Tests\\sms_user\\Kernel\\SmsFrameworkUserAccountRegistrationServiceTest\:\:\$accountRegistration \(Drupal\\sms_user\\AccountRegistrationInterface\) does not accept object\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserAccountRegistrationServiceTest.php

        -
            message: '#^Property Drupal\\Tests\\sms_user\\Kernel\\SmsFrameworkUserAccountRegistrationServiceTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept object\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserAccountRegistrationServiceTest.php

        -
            message: '#^Property Drupal\\Tests\\sms_user\\Kernel\\SmsFrameworkUserActiveHoursServiceTest\:\:\$activeHoursService \(Drupal\\sms_user\\ActiveHoursInterface\) does not accept object\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserActiveHoursServiceTest.php

        -
            message: '#^Property Drupal\\Tests\\sms_user\\Kernel\\SmsFrameworkUserActiveHoursServiceTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept object\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserActiveHoursServiceTest.php

        -
            message: '#^Property Drupal\\Tests\\sms_user\\Kernel\\SmsFrameworkUserTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept object\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserTest.php

        -
            message: '#^Property Drupal\\sms\\Entity\\SmsGateway\:\:\$incoming_push_path \(string\) does not accept string\|null\.$#'
            count: 1
            path: ../src/Entity/SmsGateway.php

        -
            message: '#^Property Drupal\\sms\\Entity\\SmsGateway\:\:\$reports_push_path \(string\) does not accept string\|null\.$#'
            count: 1
            path: ../src/Entity/SmsGateway.php

        -
            message: '#^Property Drupal\\sms\\Entity\\SmsMessageResult\:\:\$reports \(array\<Drupal\\sms\\Entity\\SmsDeliveryReportInterface\>\) does not accept array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\>\.$#'
            count: 2
            path: ../src/Entity/SmsMessageResult.php

        -
            message: '#^Property Drupal\\sms\\Message\\SmsDeliveryReport\:\:\$messageId \(string\) does not accept string\|null\.$#'
            count: 1
            path: ../src/Message/SmsDeliveryReport.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Functional\\SmsFrameworkGatewayAdminTest\:\:\$smsGatewayStorage \(Drupal\\Core\\Config\\Entity\\ConfigEntityStorageInterface\) does not accept Drupal\\Core\\Entity\\EntityStorageInterface\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkGatewayAdminTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkPhoneNumberProviderTest\:\:\$phoneNumberProvider \(Drupal\\sms\\Provider\\PhoneNumberProviderInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkPhoneNumberProviderTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkPhoneNumberVerificationTest\:\:\$phoneNumberVerificationProvider \(Drupal\\sms\\Provider\\PhoneNumberVerificationInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkPhoneNumberVerificationTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkProcessorTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkProcessorTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkProviderTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkProviderTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkQueueTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkQueueTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkQueueTest\:\:\$smsQueueProcessor \(Drupal\\sms\\Provider\\SmsQueueProcessorInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkQueueTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkRecipientGatewayEventTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkRecipientGatewayEventTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkSmsSendTest\:\:\$defaultSmsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkSmsSendTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkVerificationMaintenanceTest\:\:\$testEntity \(Drupal\\Core\\Entity\\EntityInterface\) does not accept Drupal\\entity_test\\Entity\\EntityTest\|null\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkVerificationMaintenanceTest.php

        -
            message: '#^Property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:\$smsProvider \(Drupal\\sms\\Provider\\SmsProviderInterface\) does not accept mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php
