# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in \|\|, int\<0, max\> given on the right side\.$#'
            count: 1
            path: ../modules/sms_sendtophone/sms_sendtophone.module
