# total 4 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
            count: 3
            path: ../modules/sms_user/src/Form/AdminSettingsForm.php

        -
            message: '#^Only booleans are allowed in &&, string given on the left side\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Functional/SmsFrameworkUserSettingsTest.php

        -
            message: '#^Only booleans are allowed in &&, Drupal\\sms\\Message\\SmsMessageResultInterface\|null given on the left side\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Only booleans are allowed in &&, Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|null given on the left side\.$#'
            count: 1
            path: ../src/EventSubscriber/SmsEntityPhoneNumberProcessor.php
