# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Left side of && is always true\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Functional/SmsFrameworkUserSettingsTest.php

        -
            message: '#^Left side of && is always true\.$#'
            count: 1
            path: ../src/Form/PhoneNumberSettingsForm.php
