# total 8 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
            count: 1
            path: ../modules/sms_devel/src/Form/SmsDevelMessageForm.php

        -
            message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
            count: 3
            path: ../modules/sms_user/src/Form/AdminSettingsForm.php

        -
            message: '#^Only booleans are allowed in &&, string given on the left side\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Functional/SmsFrameworkUserSettingsTest.php

        -
            message: '#^Only booleans are allowed in &&, Drupal\\sms\\Message\\SmsMessageResultInterface\|null given on the left side\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Only booleans are allowed in &&, Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|null given on the left side\.$#'
            count: 1
            path: ../src/EventSubscriber/SmsEntityPhoneNumberProcessor.php

        -
            message: '#^Only booleans are allowed in &&, array given on the left side\.$#'
            count: 1
            path: ../src/Form/PhoneNumberSettingsForm.php

        -
            message: '#^Only booleans are allowed in &&, Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false given on the left side\.$#'
            count: 1
            path: ../src/Form/VerifyPhoneNumberForm.php

        -
            message: '#^Only booleans are allowed in &&, Drupal\\Core\\Entity\\EntityInterface\|null given on the left side\.$#'
            count: 2
            path: ../src/Plugin/migrate/destination/SmsVerification.php
