# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in a negated boolean, int given\.$#'
            count: 1
            path: ../modules/sms_sendtophone/sms_sendtophone.module

        -
            message: '#^Only booleans are allowed in a negated boolean, Drupal\\Core\\Entity\\Entity\\EntityViewDisplay\|null given\.$#'
            count: 1
            path: ../modules/sms_sendtophone/tests/src/Functional/SmsSendToPhoneBrowserTest.php

        -
            message: '#^Only booleans are allowed in a negated boolean, bool\|null given\.$#'
            count: 1
            path: ../modules/sms_user/src/ActiveHours.php

        -
            message: '#^Only booleans are allowed in a negated boolean, string\|null given\.$#'
            count: 1
            path: ../src/EventSubscriber/SmsEntityPhoneNumberProcessor.php

        -
            message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
            count: 1
            path: ../src/EventSubscriber/SmsMessageProcessor.php

        -
            message: '#^Only booleans are allowed in a negated boolean, Drupal\\Core\\Entity\\EntityInterface\|null given\.$#'
            count: 1
            path: ../src/Form/PhoneNumberSettingsForm.php
