# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^Left side of && is always true\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Functional/SmsFrameworkUserSettingsTest.php
