# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^Negated boolean expression is always true\.$#'
            count: 1
            path: ../modules/sms_sendtophone/sms_sendtophone.module
