# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Casting to int something that''s already int\.$#'
            count: 2
            path: ../tests/modules/sms_test_time/src/SmsTestTime.php

        -
            message: '#^Casting to int something that''s already int\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkPhoneNumberTest.php
