# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot cast mixed to string\.$#'
            count: 1
            path: ../modules/sms_user/src/AccountRegistration.php

        -
            message: '#^Cannot cast mixed to string\.$#'
            count: 5
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php
