# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^Drupal\\sms\\Plugin\\SmsGatewayPluginCollection\:\:__construct\(\) does not call parent constructor from Drupal\\Core\\Plugin\\DefaultSingleLazyPluginCollection\.$#'
            count: 1
            path: ../src/Plugin/SmsGatewayPluginCollection.php
