# total 5 errors

parameters:
    ignoreErrors:
        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 3
            path: ../modules/sms_user/src/AccountRegistration.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 2
            path: ../modules/sms_user/src/ActiveHours.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 9
            path: ../modules/sms_user/src/Form/AdminSettingsForm.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 3
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserAccountRegistrationServiceTest.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkPhoneNumberVerifyFormTest.php
