# total 11 errors

parameters:
    ignoreErrors:
        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 3
            path: ../modules/sms_devel/src/Form/SmsDevelMessageForm.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 7
            path: ../modules/sms_user/src/AccountRegistration.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 2
            path: ../modules/sms_user/src/ActiveHours.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 9
            path: ../modules/sms_user/src/Form/AdminSettingsForm.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 3
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserAccountRegistrationServiceTest.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 2
            path: ../src/Entity/SmsGateway.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 2
            path: ../src/Form/PhoneNumberSettingsForm.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 2
            path: ../src/Form/SmsGatewayForm.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 1
            path: ../src/Plugin/migrate/process/PhoneNumberSettings.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 3
            path: ../src/Provider/PhoneNumberVerification.php

        -
            message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkPhoneNumberVerifyFormTest.php
