# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Argument of an invalid type array\<int, string\>\|false supplied for foreach, only iterables are supported\.$#'
            count: 1
            path: ../modules/sms_user/src/AccountRegistration.php

        -
            message: '#^Argument of an invalid type array\<int, string\>\|false supplied for foreach, only iterables are supported\.$#'
            count: 1
            path: ../modules/sms_user/src/Form/AdminSettingsForm.php
