# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to function is_null\(\) with array will always evaluate to false\.$#'
            count: 1
            path: ../tests/modules/sms_test_gateway/src/EventSubscriber/SmsTestGatewayEventSubscriber.php

        -
            message: '#^Call to function is_null\(\) with string will always evaluate to false\.$#'
            count: 1
            path: ../tests/modules/sms_test_gateway/src/EventSubscriber/SmsTestGatewayEventSubscriber.php
