# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^Comparison operation "\>" between 1 and 0 is always true\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkPhoneNumberProviderTest.php
