# total 22 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
            count: 1
            path: ../modules/sms_devel/src/Form/SmsDevelMessageForm.php

        -
            message: '#^Only booleans are allowed in an if condition, int\<0, max\>\|false given\.$#'
            count: 1
            path: ../modules/sms_user/src/AccountRegistration.php

        -
            message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
            count: 1
            path: ../modules/sms_user/src/Form/AdminSettingsForm.php

        -
            message: '#^Only booleans are allowed in an if condition, array\<int, string\> given\.$#'
            count: 1
            path: ../src/Entity/SmsDeliveryReport.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Message\\SmsMessageResultInterface\|null given\.$#'
            count: 4
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Only booleans are allowed in an if condition, int\|null given\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\Core\\Entity\\Display\\EntityFormDisplayInterface given\.$#'
            count: 2
            path: ../src/Form/PhoneNumberSettingsForm.php

        -
            message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
            count: 1
            path: ../src/Form/PhoneNumberSettingsForm.php

        -
            message: '#^Only booleans are allowed in an if condition, array\|bool given\.$#'
            count: 1
            path: ../src/Plugin/migrate/destination/PhoneNumberSettings.php

        -
            message: '#^Only booleans are allowed in an if condition, array\|bool given\.$#'
            count: 1
            path: ../src/Plugin/migrate/destination/SmsVerification.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\Core\\Entity\\EntityInterface\|null given\.$#'
            count: 1
            path: ../src/Provider/PhoneNumberVerification.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|null given\.$#'
            count: 1
            path: ../src/Provider/PhoneNumberVerification.php

        -
            message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
            count: 2
            path: ../tests/modules/sms_test/src/EventSubscriber/SmsTestEventSubscriber.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\Core\\Entity\\EntityInterface\|null given\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkPhoneNumberTest.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Only booleans are allowed in an if condition, Drupal\\sms\\Entity\\SmsGatewayInterface\|null given\.$#'
            count: 2
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php
