includes:
    - assign.propertyType.neon
    - booleanAnd.leftAlwaysTrue.neon
    - booleanAnd.leftNotBoolean.neon
    - booleanNot.alwaysTrue.neon
    - booleanNot.exprNotBoolean.neon
    - booleanOr.alwaysTrue.neon
    - cast.int.neon
    - cast.string.neon
    - cast.useless.neon
    - constructor.missingParentCall.neon
    - deadCode.unreachable.neon
    - elseif.condNotBoolean.neon
    - empty.notAllowed.neon
    - foreach.nonIterable.neon
    - function.alreadyNarrowedType.neon
    - function.strict.neon
    - greater.alwaysTrue.neon
    - if.alwaysTrue.neon
    - if.condNotBoolean.neon
    - instanceof.alwaysTrue.neon
    - match.alwaysTrue.neon
    - match.unreachable.neon
    - method.nameCase.neon
    - method.nonObject.neon
    - method.notFound.neon
    - missingType.generics.neon
    - missingType.iterableValue.neon
    - notIdentical.alwaysTrue.neon
    - nullCoalesce.offset.neon
    - offsetAccess.nonOffsetAccessible.neon
    - property.dynamicName.neon
    - property.nonObject.neon
    - property.notFound.neon
    - property.onlyWritten.neon
    - property.phpDocType.neon
    - property.unused.neon
    - staticMethod.alreadyNarrowedType.neon
    - staticMethod.dynamicCall.neon
    - ternary.condNotBoolean.neon
    - ternary.shortNotAllowed.neon
    - varTag.variableNotFound.neon
    - variable.implicitArray.neon
