# total 9 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityStorageInterface\:\:loadRevision\(\)\.$#'
            count: 1
            path: ../src/Entity/SmsDeliveryReport.php

        -
            message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:getMessageId\(\)\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:getRecipient\(\)\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:getStatus\(\)\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:getStatusMessage\(\)\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:getStatusTime\(\)\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Call to an undefined method Drupal\\sms\\Message\\SmsDeliveryReportInterface\:\:setSmsMessage\(\)\.$#'
            count: 4
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Call to an undefined method Drupal\\sms\\Message\\SmsDeliveryReportInterface\:\:id\(\)\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:getDirection\(\)\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkProviderTest.php
