# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^Offset ''id'' on array\{id\: int\<1, max\>\} on left side of \?\? always exists and is not nullable\.$#'
            count: 1
            path: ../src/Plugin/QueueWorker/SmsProcessor.php
