# total 5 errors

parameters:
    ignoreErrors:
        -
            message: '#^Offset ''\#name'' does not exist on array\|null\.$#'
            count: 1
            path: ../modules/sms_devel/src/Form/SmsDevelMessageForm.php

        -
            message: '#^Offset ''message'' does not exist on array\|null\.$#'
            count: 1
            path: ../modules/sms_devel/tests/src/Functional/SmsDevelMessageTest.php

        -
            message: '#^Offset ''message'' does not exist on array\|null\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserTest.php

        -
            message: '#^Offset ''message'' does not exist on array\|null\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkProviderTest.php

        -
            message: '#^Offset ''message'' does not exist on array\|null\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkQueueTest.php
