# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot access property \$value on Drupal\\Core\\TypedData\\TypedDataInterface\|null\.$#'
            count: 1
            path: ../modules/sms_sendtophone/src/Plugin/Field/FieldWidget/SmsSendWidget.php

        -
            message: '#^Cannot access property \$value on mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php
