# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface\:\:\$value\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php
