# total 1 errors

parameters:
    ignoreErrors:
        -
            message: '#^PHPDoc tag @var for property Drupal\\Tests\\sms\\Kernel\\SmsFrameworkIncomingRouteTest\:\:\$incomingGateway with type Drupal\\sms\\Entity\\SmsGatewayInterface is not subtype of native type Drupal\\Core\\Routing\\RouteProviderInterface\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkIncomingRouteTest.php
