# total 93 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method Drupal\\sms_sendtophone\\Plugin\\Filter\\FilterInlineSms\:\:tips\(\) should return string\|null but returns Drupal\\Core\\StringTranslation\\TranslatableMarkup\.$#'
            count: 1
            path: ../modules/sms_sendtophone/src/Plugin/Filter/FilterInlineSms.php

        -
            message: '#^Method Drupal\\sms\\Entity\\PhoneNumberSettings\:\:getVerificationCodeLifetime\(\) should return int\<1, max\> but returns int\.$#'
            count: 1
            path: ../src/Entity/PhoneNumberSettings.php

        -
            message: '#^Method Drupal\\sms\\Entity\\PhoneNumberVerification\:\:getCode\(\) should return string but returns mixed\.$#'
            count: 1
            path: ../src/Entity/PhoneNumberVerification.php

        -
            message: '#^Method Drupal\\sms\\Entity\\PhoneNumberVerification\:\:getPhoneNumber\(\) should return string but returns mixed\.$#'
            count: 1
            path: ../src/Entity/PhoneNumberVerification.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsDeliveryReport\:\:getMessageId\(\) should return string\|null but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsDeliveryReport.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsDeliveryReport\:\:getRecipient\(\) should return string but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsDeliveryReport.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsDeliveryReport\:\:getSmsMessage\(\) should return Drupal\\sms\\Entity\\SmsMessageInterface\|null but returns Drupal\\Core\\Entity\\EntityInterface\|null\.$#'
            count: 1
            path: ../src/Entity/SmsDeliveryReport.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsDeliveryReport\:\:getStatus\(\) should return ''content_invalid''\|''delivered''\|''error''\|''expired''\|''invalid_recipient''\|''queued''\|''rejected''\|null but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsDeliveryReport.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsDeliveryReport\:\:getStatusMessage\(\) should return string but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsDeliveryReport.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsGateway\:\:getMaxRecipientsOutgoing\(\) should return int\<\-1, max\> but returns int\.$#'
            count: 1
            path: ../src/Entity/SmsGateway.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsGateway\:\:getRetentionDuration\(\) should return int\<\-1, max\> but returns int\.$#'
            count: 1
            path: ../src/Entity/SmsGateway.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getDirection\(\) should return \-1\|1\|null but returns int\|null\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getGateway\(\) should return Drupal\\sms\\Entity\\SmsGatewayInterface\|null but returns Drupal\\Core\\Entity\\EntityInterface\|null\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getMessage\(\) should return string but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getOptions\(\) should return array but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|null but returns Drupal\\Core\\Entity\\EntityInterface\|null\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns array\<int, Drupal\\Core\\Entity\\EntityInterface\>\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getResult\(\) should return Drupal\\sms\\Message\\SmsMessageResultInterface\|null but returns Drupal\\Core\\Entity\\EntityInterface\|null\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getSender\(\) should return string\|null but returns Drupal\\Core\\StringTranslation\\TranslatableMarkup\|string\|null\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getSender\(\) should return string\|null but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getSenderNumber\(\) should return string\|null but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessage\:\:getUuid\(\) should return string but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessage.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessageResult\:\:convertFromMessageResult\(\) should return static\(Drupal\\sms\\Entity\\SmsMessageResult\) but returns Drupal\\sms\\Entity\\SmsMessageResultInterface\.$#'
            count: 1
            path: ../src/Entity/SmsMessageResult.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessageResult\:\:getError\(\) should return ''account_error''\|''authentication''\|''error''\|''flooded''\|''invalid_sender''\|''no_credit''\|''parameters''\|null but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessageResult.php

        -
            message: '#^Method Drupal\\sms\\Entity\\SmsMessageResult\:\:getErrorMessage\(\) should return string but returns mixed\.$#'
            count: 1
            path: ../src/Entity/SmsMessageResult.php

        -
            message: '#^Method Drupal\\sms\\Message\\SmsMessageResult\:\:getError\(\) should return ''account_error''\|''authentication''\|''error''\|''flooded''\|''invalid_sender''\|''no_credit''\|''parameters''\|null but returns string\|null\.$#'
            count: 1
            path: ../src/Message/SmsMessageResult.php

        -
            message: '#^Method Drupal\\sms\\Plugin\\QueueWorker\\SmsProcessor\:\:createItemFrom\(\) should return array\{id\: int\<1, max\>\} but returns array\{id\: int\}\.$#'
            count: 1
            path: ../src/Plugin/QueueWorker/SmsProcessor.php

        -
            message: '#^Method Drupal\\sms\\Provider\\DefaultSmsProvider\:\:queue\(\) should return array\<Drupal\\sms\\Entity\\SmsMessageInterface\> but returns array\<Drupal\\sms\\Message\\SmsMessageInterface\>\.$#'
            count: 1
            path: ../src/Provider/DefaultSmsProvider.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportUpdateTest\:\:smsProvider\(\) should return Drupal\\sms\\Provider\\SmsProviderInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportUpdateTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\FunctionalJavascript\\SmsFrameworkPhoneNumberAdminTest\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/FunctionalJavascript/SmsFrameworkPhoneNumberAdminTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Functional\\SmsFrameworkBrowserTestBase\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Functional/SmsFrameworkBrowserTestBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkDeliveryReportEntityTest\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkDeliveryReportEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkKernelBase\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkKernelBase.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkMessageEntityTest\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Kernel\\SmsFrameworkViewsTest\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Kernel/SmsFrameworkViewsTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getIncomingMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getLastIncomingMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getLastTestMessage\(\) should return Drupal\\sms\\Message\\SmsMessageInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getLastTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface\|false but returns mixed\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getLastVerification\(\) should return Drupal\\sms\\Entity\\PhoneNumberVerificationInterface\|false but returns Drupal\\Core\\Entity\\EntityInterface\|false\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getTestMessageReport\(\) should return Drupal\\sms\\Message\\SmsDeliveryReportInterface but returns mixed\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getTestMessageReports\(\) should return array\<Drupal\\sms\\Message\\SmsDeliveryReportInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php

        -
            message: '#^Method Drupal\\Tests\\sms\\Unit\\Event\\RecipientGatewayEventTest\:\:getTestMessages\(\) should return array\<Drupal\\sms\\Message\\SmsMessageInterface\> but returns mixed\.$#'
            count: 1
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php
