# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertNotEquals\(\)\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserAccountRegistrationServiceTest.php

        -
            message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertNotFalse\(\)\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserAccountRegistrationServiceTest.php

        -
            message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertNotEquals\(\)\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserActiveHoursServiceTest.php

        -
            message: '#^Dynamic call to static method Drupal\\sms\\Form\\PhoneNumberSettingsForm\:\:createNewField\(\)\.$#'
            count: 1
            path: ../src/Form/PhoneNumberSettingsForm.php

        -
            message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:markTestSkipped\(\)\.$#'
            count: 2
            path: ../tests/src/Kernel/SmsFrameworkMessageEntityTest.php

        -
            message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:any\(\)\.$#'
            count: 10
            path: ../tests/src/Unit/Event/RecipientGatewayEventTest.php
