# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in a ternary operator condition, array\<Drupal\\user\\Entity\\User\> given\.$#'
            count: 1
            path: ../modules/sms_user/tests/src/Kernel/SmsFrameworkUserAccountRegistrationServiceTest.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, Drupal\\sms\\Message\\SmsMessageResultInterface\|null given\.$#'
            count: 1
            path: ../src/Message/SmsMessage.php
