# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
            count: 3
            path: ../src/Form/PhoneNumberSettingsForm.php

        -
            message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
            count: 1
            path: ../src/Provider/PhoneNumberVerification.php
